@use "/src/_import.scss" as *;

.pentakill-card {
    max-width: 20rem;
    margin-bottom: 8px;
    margin: 15px;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    position: relative;
    padding: $main-margin;
    border-radius: 4px;
    box-shadow: 1px 3px 2px 0px rgba(0, 0, 0, 0.2), 1px 2px 2px 1px rgba(0, 0, 0, 0.14), 1px 2px 4px 1px rgba(0, 0, 0, 0.12)
}

.pentakill-name {
    padding: $main-margin;
    font-size: 2rem;
}

.pentakill-amount {
    padding: $main-margin;
    font-weight: bold;
    font-size: 2rem;
}

.pentakill-role {
    padding: $main-margin;
    font-size: 1.5rem;
}