<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Drake
        </mat-panel-title>
      </mat-expansion-panel-header>
      <app-drake-page></app-drake-page>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Duration
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-duration-page></app-duration-page>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Pentakills
          </mat-panel-title>
        </mat-expansion-panel-header>
        <app-pentakill-page></app-pentakill-page>
    </mat-expansion-panel>
</mat-accordion>

