@use "/src/_import.scss" as *;

.ban {
    display: flex;
    justify-content: space-between;
    .champion-ban {
        .champion-img {
            border-radius: 20px;
            width: 60px;
            height: 67px;
        }
    }
}

@media screen and (min-width: $min-width-desktop) {
    .ban {
        .champion-ban {
            margin:$main-margin;
            .champion-img {
                width: 100px;
                height: 112px;
            }
        }
    }
}