@use "/src/_import.scss" as *;

.pick-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: $big-margin;
    margin-top: 0;
}

@media screen and (max-width: $min-width-desktop) {
    .player-create {
        width:60px;
    }
}