@use "/src/_import.scss" as *;

.drake-label {
    margin: 0 $big-margin;
}

.drake-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: $big-margin;
    margin-top: 0
}
