<div class="custom-dropdown">
    <div class="selected-drake" (click)="toggleOptions()">
        <span *ngIf="!selectedDrake">Select a drake</span>
        <img *ngIf="selectedDrake" class="drake-image" src="/assets/images/drakes/{{selectedDrake.type}}.webp" /></div>
    <ul class="dropdown-options" *ngIf="showOptions">
        <li *ngFor="let drake of drakes" (click)="selectDrake(drake)">
            <img class="drake-image" src="/assets/images/drakes/{{drake.type}}.webp" />
        </li>
    </ul>
</div>