@use "/src/_import.scss" as *;

.player-label {
    text-align: center;
}

.pentakill-input {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    input {
        width: 60px;
    }
}

.kda-input-div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    text-align: center;
    input {
        width: 60px;
    }
}

@media screen and (min-width: $min-width-desktop) {
    .kda-input-div, .pentakill-input {
        input {
            width: 100px;
        }
    }

}
