.game {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    text-align: justify;
}

.champion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}